extends layout
block content
    a(href="/things") Back to list
    
    if error
        .alert.alert-danger
            =error
            
    form.form(method="POST")
        div.form-group
            label(for="thing_name") Name
            input.form-control#thing_name(name="name" value=thing.name)
        .checkbox
            label
                input(type="checkbox" name="active" checked=thing.active)
                | Active
        div
            button.btn.btn-primary(type="submit")
                | Save
    if !thing.isNew
        form.form(method="POST" action="/things/#{thing._id}/delete")
                button.btn.btn-warning(type="sumbit")
                    | Delete
                
        
                
