extends layout
block content
    if messages.info
        .alert.alert-info
            button.close(data-dismiss="alert" type="button")
                | &times;
            = messages.info
            
    a(href="/things/new") 
        | Create a new thing
    ul.list-group
        each thing in things
            li.list-group-item 
                a(href="/things/#{thing._id}")
                    =thing.name
                br    
                a.btn.btn-default(href="/things/#{thing._id}")
                   | Edit 
                
                br
                br
                if thing.active
                    h6.label.label-success 
                        | active
                else
                    h6.label.label-warning 
                        | not active
                    
                
    if things.length == 0
        .alert.alert-danger
            | There are no things!